In [1]:
import yfinance as yf
import pandas as pd

In [3]:
df = yf.download('AAPL', start='2020-01-01', end='2024-05-01')

[*********************100%***********************]  1 of 1 completed

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,72.876091,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.167610,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,72.742676,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.400520,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.565201,132079200
...,...,...,...,...,...,...
2024-04-24,166.539993,169.300003,166.210007,169.020004,168.595917,48251800
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.463730,50558300
2024-04-26,169.880005,171.339996,169.179993,169.300003,168.875214,44838400
2024-04-29,173.369995,176.029999,173.100006,173.500000,173.064667,68169400
2024-04-30,173.330002,174.990005,170.000000,170.330002,169.902618,65934800

In [ ]:
df['ret_20'] = df.Close.pct_change(20)

In [ ]:
df['signal'] = df.ret_20 > 0.05

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['buyprice'] = df.Open.shift(-1)

In [ ]:
df.head(8)

In [ ]:
profits = []
in_position = False
sellidx = pd.to_datetime('1900-01-01')

for index,row in df.iterrows():
    if not in_position and row.signal and index > sellidx:
        buyprice = df.loc[index:][0:1].buyprice.values[0]
        in_position = True
    if in_position:
        sellprice = df.loc[index:][5:6].Close.values[0]
        sellidx = df.loc[index:][5:6].index
        profit = (sellprice - buyprice) / buyprice
        profits.append(profit)
        in_position = False

In [ ]:
pd.Series(profits).plot()

In [ ]:
(pd.Series(profits) + 1).prod() - 1

In [ ]:
(pd.Series(profits) + 1).cumprod().plot()